name: deploy-book

defaults:
  run:
    shell: bash
    working-directory: krrood

# Run this when the master or main branch changes
on:
  workflow_call:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: pip # Implicitly uses requirements.txt for cache key
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        pip install -U pip && pip install -r requirements-dev.txt && pip install . && pip install -r doc/requirements.txt

    # (optional) Cache your executed notebooks between runs
    # if you have config:
    # execute:
    #   execute_notebooks: cache
    - name: cache executed notebooks
      uses: actions/cache@v4
      with:
        path: doc/_build/.jupyter_cache
        key: jupyter-book-cache-${{ hashFiles('requirements.txt') }}

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build doc

    # Upload the book's HTML as an artifact
    - name: Upload artifact
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: krrood-doc
        path: "krrood/doc/_build/html"
